{% extends "base.html" %}

{% block content %}
<body>
<center>
    <h2 class="header-photog">Welcome to PhotOG</h2>
    <font color="green"> {{ MESSAGE1 }} </font> <font color="red"> {{ MESSAGE2 }} </font>

  <form action="/login" method="POST">
    Username: <input name="usernameo" type="text"> <br>
    Password: <input name="passw" type="password"> <br>
    <input value="Login" name="login" type="submit"> 
    <input value="Register" name="register" type="submit">
    <br>
  </form>
</center>
</body>
{% endblock %}